/* work-sans-regular - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/work-sans-v3-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Work Sans'), local('WorkSans-Regular'),
         url('../fonts/work-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/work-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/work-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/work-sans-v3-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  /* work-sans-700 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/work-sans-v3-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Work Sans Bold'), local('WorkSans-Bold'),
         url('../fonts/work-sans-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/work-sans-v3-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/work-sans-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/work-sans-v3-latin-600.svg#WorkSans') format('svg'); /* Legacy iOS */
  }

  * {
      margin:0;
      padding:0;
      box-sizing: border-box;
  }

  body {
      background-color:#DCDCDC;
      padding:20px;
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      line-height:150%;
  }

  .clearfix:after {
      content:'';
      clear: both;
      display: table;
  }

  #page {
      background-color:#fff;
      max-width: 800px;
      margin:0 auto;
  }

  header {
      padding:30px;
  }

  .logo {
      display:inline-block;
  }

  .logo img  {
      height:18px;
      padding-right:20px;
      line-height:20px;
  }

  .logo h1 {
      display:inline;
      font-size:20px;
      font-weight:400;
      line-height:20px;
  }

  .mainNavigation {
      float:right;
  }

  .mainNavigation li {
      list-style-type: none;
      display:inline;
  }

  .mainNavigation li a {
      color:#000;
      text-decoration: none;
      padding:0 10px;
      display:inline-block;
      font-size:15px;
  }

  .intro {
      margin:20vh auto 50px auto;
      width:550px;
  }

  .intro h2 {
      font-weight:600;
      font-size:23px;
      padding-bottom:23px;
  }

  a.videoButton {
      color:#fff;
      background-color:#000;
      text-decoration: none;
      font-size:12px;
      text-transform: uppercase;
      padding:0 5px;
      transition:all 0.8s;
      float:right;   
      margin-top:30px;   
  }

  a.videoButton:hover {
      background-color: #ccc;
      color:#000;
  }

  a.videoButton:after {
      content:'\25B6';
      padding-left:5px;
  }

  .products section{
      width:30%;
      height:350px;
      display:inline-block;
      float: left;
    }

    .products section:nth-of-type(2) {
        margin-left:34px;
        margin-right:35px;
    }

    .productBox {
        background-size:cover;
    }

    .productOne {
        background-image:url('../images/white-box.jpg');
        background-position: center center;
    }

    .productTwo {
        background-image:url('../images/room.jpg');
    }

    .productThree{
        background-image:url('../images/black-white.jpg');
        background-position: center center;
    }