/* work-sans-regular - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/work-sans-v3-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Work Sans'), local('WorkSans-Regular'),
         url('../fonts/work-sans-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/work-sans-v3-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/work-sans-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/work-sans-v3-latin-regular.svg#WorkSans') format('svg'); /* Legacy iOS */
  }
  /* work-sans-700 - latin */
  @font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/work-sans-v3-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Work Sans Bold'), local('WorkSans-Bold'),
         url('../fonts/work-sans-v3-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/work-sans-v3-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/work-sans-v3-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/work-sans-v3-latin-600.svg#WorkSans') format('svg'); /* Legacy iOS */
  }

  * {
      margin:0;
      padding:0;
      box-sizing: border-box;
  }

  body {
      background-color:#DCDCDC;
      padding:20px;
      font-family: 'Work Sans', sans-serif;
      font-size: 16px;
      line-height:150%;
  }

  .clearfix:after {
      content:'';
      clear: both;
      display: table;
  }

  img {
      max-width: 100%;
  }

  #page {
      background-color:#fff;
      max-width: 800px;
      margin:0 auto;
  }

  header {
      padding:30px;
  }

  .logo {
      display:inline-block;
  }

  .logo img  {
      height:18px;
      padding-right:20px;
      line-height:20px;
  }

  .logo h1 {
      display:inline;
      font-size:20px;
      font-weight:400;
      line-height:20px;
  }

  .mainNavigation {
      float:right;
  }

  .mainNavigation li {
      list-style-type: none;
      display:inline;
  }

  .mainNavigation li a {
      color:#000;
      text-decoration: none;
      padding:0 10px;
      display:inline-block;
      font-size:15px;
  }

  .intro,
  .productSingle {  
        margin:20vh auto 50px auto;
        width:550px;
    }

  .intro h2
   {
      font-weight:600;
      font-size:23px;
      padding-bottom:23px;
  }
  
  .productSingle h2 {
      text-align: center;
      font-weight:600;
      font-size:23px;
      padding:23px 0;
  }

  a.button {
      color:#fff;
      background-color:#000;
      text-decoration: none;
      font-size:12px;
      text-transform: uppercase;
      padding:0 5px;
      transition:all 0.8s;
      float:right;   
      margin-top:30px;   
  }

  a.button:hover {
      background-color: #ccc;
      color:#000;
  }

  a.videoButton:after {
      content:'\25B6';
      padding-left:5px;
  }
  .products {
      text-align: center;
  }
  .products section{
      width:30%;
      height:350px;
      display:inline-block;
    }

    .productBox {
        background-size:cover;
        position: relative;
        text-align: left;
    }

    .productOne {
        background-image:url('../images/white-box.jpg');
        background-position: center center;
        float:left;
    }

    .productTwo {
        background-image:url('../images/room.jpg');
    }

    .productThree{
        background-image:url('../images/black-white.jpg');
        background-position: center center;
        float:right;
    }

    .productBox h2 {
        color:#fff;
        font-size:20px;
        padding-top:35px;
        padding-left:30px;
        font-weight:600;
        text-shadow: 0 0 10px #000;
    }

    .moreOuter {
        background-color:rgb(255,255,255,0.5);
        padding:5px;
        border-radius: 100%;
        display: inline-block;
        width:25px;
        height:25px;
        position: absolute;
        left:30px;
        bottom:30px;
        transition:all 0.8s;
    }   

    .moreOuter:hover {
        width:35px;
        height:35px;
    }

    .moreInner {
        background-color:rgb(255,255,255,1);
        padding:5px;
        border-radius: 100%;
        display: inline-block; 
        width:16px;
        height: 16px;
        background-image:url('../images/arrow-right-solid.svg');
        background-repeat:no-repeat;
        background-size:8px 8px;
        background-position: center;
        transition:all 0.8s;
    }

    .moreOuter:hover .moreInner{
        width: 25px;
        height:25px;
        background-size: 12px 12px;
    }

    footer {
        text-align: center;
        padding:20px 0;
        font-size:14px;
    }

    .productDescription {
        font-size:14px;
        color: #999;
    }